@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');

* {
  font-family: "JetBrains Mono", monospace;
}

body {
  margin: 15px;
  min-height: calc(100vh - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #000000;
  background-color: #eae2ff;
  text-decoration: none;
}

a:hover {
  background-color: #c5c4ff;
}

.content {
  margin: 0;
  font-size: 0.95em;
}

.inline-block {
  background-color: #eaeaea;
}

.pink {
  background-color: #de1177;
  color: #ffffff;
}

.comment {
  color: #bababa;
  font-style: italic;
}

.fabricmc {
  background-color: #f4b21caa;
}

.minecraft-forge {
  background-color: #0f026e99;
}

.kotlin {
  background-color: #a97bffaa;
}

.java {
  background-color: #b07219aa;
}

.svelte {
  background-color: #ff3e00aa;
}

.typescript {
  background-color: #2b7489aa;
}